.loginJoinContainer{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.container {
    width: 100%;
    height: 100%;
    background: #1E1E1E;
}
.login-join-title{
    width: 100%;
    height: 81px;
    text-align: center;
    font-family: 'Liu Jian Mao Cao';
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 64px;
    color: #FFAFAF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom:50px;
    text-decoration-line : none;
}
.login-container{
    width: 400px;
    height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    background: #FFC7C7;
    border-radius: 20px;
    margin-top: 4%;
}
#idContainer{
    display : flex;
    align-items: center;
    justify-content: center;
    width : 100%;
    height: 20%;
}
#pwContainer{
    display : flex;
    align-items: center;
    justify-content: center;
    width : 100%;
    height: 20%;
}
#loginContainerText{
    width : 100%;
    text-align: center;
    height: 50px;
    font-size: 25px;
    padding-top: 35px;
    font-family: 'Liu Jian Mao Cao';
    font-style: normal;
}
.id{
    height : 50%;
    width: 70%;
    background: #FFFFFF;
    border: 1px solid #B4A5A5;
    border-radius: 24px;
}
.join-password{
    height : 50%;
    width: 55%;
    background: #FFFFFF;
    border: 1px solid #B4A5A5;
    border-radius: 24px;
}
.check-button{
    height : 50%;
    width : 10%;
}
.id-text{
    font-size: 35px;
    margin-right: 15px;
    margin-right: 5px;
    letter-spacing: 7px;
    font-family: 'Liu Jian Mao Cao';
font-style: normal;
}
.password-text{
    font-size: 30px;
    margin-left: 3px;
    margin-right: 8px;
    letter-spacing: 7px;
    font-family: 'Liu Jian Mao Cao';
font-style: normal;
}
#loginButtonContainer{
    width: 95%;
    height: 10%;
    margin-top: 30px;
    margin-left:5px;
    margin-right:10px;
    height: 11%;
    margin-left: 28px;
}
#loginButton{
    width : 100%;
    color:white;
    background: #000000;
    border: 1px solid #A4A4A4;
    border-radius: 30px;
    text-align: center;
    width: 90%;
    height: 100%;
    margin-left: 4px;
    font-size: 25px;
}
#joinDescription{
    width : 100%;
    display : flex;
    justify-items: center;
    font-size: 25px;
    color : white;
}
#joinText{
    font-size:30px;
}
#textContainer{
    margin-top:20px;
    margin-left: 8px;
}
#pwcheck{
    width : 300px;
    height : 15px;
}
.checkbox{
    width : 50px;
    height : 50px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none !important;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background: #fbfbfb;
}

input[type="checkbox"]::before {
    content: "\2713";
    font-size:50px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
}

input[type="checkbox"]:hover {
    border-color: rgba(170, 170, 170, 0.5);
}

input[type="checkbox"]:checked {
    transition: all 2s;
    background-color: black;
    border-color: rgba(255, 255, 255, 0.3);
    color: white;
}

input[type="checkbox"]:checked::before {
    border-radius: 2px;
    transform: scale(1) translate(-50%, -50%)
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    align-items: center;
    height: 66px;
    justify-content: center;
    border-radius: 15px !important;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 5s;
}